@use '../../variables' as v;

.trace-context {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-out;

  
  .trace-line {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;
    
    &.highlighted {
      background-color: v.$transparentRed;
      border-radius: v.$borderRadius;
    }
    
    &:first-child {
      margin-top: 15px;
    }
  
    &:last-child {
      margin-bottom: 15px;
    }
  }

  &.active {
    max-height: 500px;
  }
}
