@use '../variables' as v;

.content {
  background-color: v.$white;
  color: v.$black;
  width: v.$contentWidth;
  margin-block: 40px;
  border: 5px solid v.$gray;
  border-radius: v.$borderRadius;
}
