.header {
    width: 100%;

    .error-description {
        display: flex;
        justify-content: center;
        background-color: $red;
        padding-block: 20px;
    }

    .error-infos {
        display: flex;
        justify-content: center;
        background-color: $darkRed;
        padding-block: 10px;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;

        .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .wrapper {
        width: $contentWidth;
    }
}
